@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Manrope:wght@400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Sriracha&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
    background: url(../img/blur-1.png) bottom left no-repeat, url(../img/blur-2.png) top right no-repeat, var(--backgrond);
    color: white;
    font-family: 'Manrope', sans-serif;
}


nav {
    display: flex;
    height: 10vh;
    padding: 0 250px 0px 250px;
    justify-content: space-around;
    align-items: center;
    /*border: 1px dashed green;*/
    gap: 10em;
}

#mobile-menu-open {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a.menu:hover {
    color: #8257E5;
}

button {
    margin-left: 250px;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid var(--button);
    background-color: transparent;
    padding: 10px 40px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}

button:hover {
    background-color: white;
    color: var(--button);
    cursor: pointer;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*border: 1px dashed white;*/
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed blue;*/
    align-self: center;
    padding: 0;
    color: var(--text-color);
    flex: 1;
}

#paragraphMobile {
    display: none;
    margin: 0px 20px;
    /*border: 1px dashed white;*/
    text-align: center;
}

#mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuBtnMobile {
    display: none;
}

span {
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
}

.stroke {
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: var(--backgrond);
}

.ct-img > img {
    max-width: 100%;
    width: 799px;
}

/*A partir de 1250px, a ul recebe outro comportamento*/
@media (max-width: 1250px) {
    body {
        background: url(../img/blur-1.png) bottom left no-repeat, url(../img/blur-3.png) bottom right no-repeat, var(--backgrond);
        color: white;
        overflow-x: hidden;/*esconder tudo o que ultrapassar o body horizontalmente*/
    }

    nav {
        padding: 0;
    }

    ul {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--backgrond);
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        transform: translateX(100%); /*Jogando o menu para fora da tela e corrigindo setando o body com overflow-x: hidden*/
        transition: transform 0.3s ease-in;
    }

    ul > li {
        margin-left: 40px;
        opacity: 0; /*trocar para 0 para animar*/
    }

    button {
        margin-left: 0;
    }

    main {
        justify-content: space-around;
    }

    #paragraphMobile {
        display: block;
        font-size: 2em;
    }

    #menuBtnMobile {
        display: block;
    }

    h1 {
        font-size: 3em;
    }

    #btnMobile {
        cursor: pointer;
    }

    #mobile-menu-open {
        display: block;
    }

    /*Classe setada pelo JS para fazer aparecer o menu*/
    ul.active {
        transform: translateX(0);
        opacity: 100;
        
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}